.home {
  text-align: center;
  margin: 1rem 0;
  height: 100%;
}

.home-img {
  width: 50%;
  max-width: 500px;
}

.home-header {
  margin-top: 1rem;
  font-size: 3rem;
  line-height: 3.3rem;
}

h1 .invert {
  font-size: 3rem;
}
