.navigation {
  background-color: var(--navbar-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  height: 75px;
  font-weight: 700;
  color: var(--primary-color);
  padding: 1rem;
  border-bottom: 1px solid #00000080;
}

.logo {
  margin-left: 2rem;
}

.logo span {
  color: var(--primary-text-color);
  font-weight: 900;
}

/* list */
.list {
  list-style: none;
  display: flex;
}

.list-item {
  margin-right: 1.5rem;
}

.logo-link {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
