@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #000;
  --primary-text-color: #e31c79;
  --secondary-color: #9ca3af;
  --navbar-color: #f4f4f4;
  --sidebar-color: #f9fafb;
  --white-color: #fff;
  --shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
  --border-color: rgba(225, 228, 232, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

#root {
  width: 100%;
}

iframe {
  display: none !important;
}

body {
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
}

iframe {
  display: none !important;
}

.header {
  height: 20px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.main-container {
  display: flex;
}

/* right content */
.content-wrapper {
  flex-grow: 1;
  margin: 1rem;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

.link:hover {
  border-bottom: 1px solid var(--primary-color);
}

.Card--shadow-default {
  box-shadow: none;
}

.PageHeader-wrapper {
  background-color: var(--white-color);
}

.bg-secondary-lightest {
  box-shadow: var(--shadow);
}

.Collapsible {
  background: none;
}

.cta {
  color: var(--primary-jal);
}
