@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #000;
  --primary-text-color: #e31c79;
  --secondary-color: #9ca3af;
  --navbar-color: #f4f4f4;
  --sidebar-color: #f9fafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  /* font-family: 'Roboto', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

/* navigation */
.navigation {
  background-color: var(--navbar-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  height: 75px;
  font-weight: 700;
  color: var(--primary-color);
  padding: 1rem;
}

.logo {
  margin-left: 2rem;
}

.logo span {
  color: var(--primary-text-color);
  font-weight: 900;
}

/* list */
.list {
  list-style: none;
  display: flex;
}

.list-item {
  margin-right: 1.5rem;
}

.header {
  height: 20px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.main-container {
  display: flex;
}

/* right content */
.content-wrapper {
  flex-grow: 1;
}
